
/* Copyright 2019 - Jason Daniel Kiesling */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color:#f8f9fa!important
}

header {
  padding-top: 11rem;
  padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.bg-theme{
  background-color:#2d2e7b!important;
}

.text-theme{
  color:#2d2e7b!important;
}
a.text-theme:focus,
a.text-theme:hover{
  color:#494f54!important;
}

.nav-menu-link {
    color: #ffffff!important;
}

.nav-resume-link {
    color: #2d2e7b!important;
}
.anchor{
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
}

.header-link {
  color: #000000;
	text-decoration: none;
}

.header-logo {
  height: 20rem;
}

.outer {
  position: relative;
  height: 100%;
}

.inner {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-icons {
  padding-top: 4rem;
}

.home-icon-no-underline:hover {
  text-decoration: none;
}

.features-icons {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.icons-hover-link:hover {
  text-decoration: none;
}

.project-title{
    font-style: italic;
}

.project-languages{
    font-weight: bold;
}

.project-photo{
    border-radius: 25px;
    float: left;
    margin-right: 10px;
    max-height: 150px;
    max-width: 200px;
}

.project-icons{
    font-size: 30px;
    color: #000000;
    padding-right: 25px;    
}

.project-card{
      padding-bottom: 1rem;
}

.project-heading{
    padding-top: 4rem;
}

.resume{
  padding-top: 4rem;
}

.contact{
    padding-top: 4rem;
}

blockquote {
    border-left: 2px solid #ccc;
    padding: 0.5em 10px;
  }


footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
