:root {
  --light-blue: rgb(236, 248, 248);
  --gray: rgb(53, 53, 53);
  --red: rgb(220, 73, 58);
  --steel-blue: rgb(69, 126, 172);
  --royal-blue: rgb(20, 33, 143);
  --bright-blue: rgb(0, 167, 225);
  --white: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  color: var(--steel-blue);
}

body {
  background-color: var(--gray);
  color: var(--light-blue);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  min-height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 100%;
}

section.header {
  display: flex;
  justify-content: center;
}

section h2 {
  text-align: center;
}

section.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.lnt {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #536878;
  max-width: min(600px, 100%);
}

div.lnt p {
  text-align: center;
}

div.lnt a {
  color: lightgreen;
  text-decoration: underline;
}

div.lnt img {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.about {
  /* text-align: justify; */
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-right: 20px;
  padding-left: 20px;
}

.about p {
  text-align: center;
}

.header .logo-summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo-summary p,
.logo-summary h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo-summary img.jk {
  margin-top: 32px;
  height: 6vh;
}

.top-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 24px;
}

.top-links p {
  margin-bottom: 0em;
}

.top-links a {
  font-family: "Roboto Slab", serif;
  line-height: 2em;
  font-weight: 500;
  text-decoration: none;
}

.top-links a,
.top-links a:visited,
.top-links p {
  color: var(--red);
}

.top-links a:hover {
  color: rgba(255, 0, 0, 0.5);
}

.top-links a i {
  font-size: 1rem;
}

a,
a:visited {
  color: #007bff;
  text-decoration: none;
}

footer#footer {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: var(--light-blue);
}

@media (min-width: 992px) {
  .vertical-line {
    height: 100%;
    width: 2px;
    border-right: 2px solid var(--light-blue);
  }
}

@media (max-width: 991px) {
  .top-links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 2em;
  }

  .top-links a {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  .top-links a i {
    font-size: 1em;
  }

  .top-links p,
  .logo-summary p {
    margin-bottom: 0.25em;
  }

  section {
    padding-bottom: 1em;
    margin-top: 1em;
  }

  div.about {
    text-align: left;
  }
}
